[submodule ".config/zsh/external/zsh-completions"]
	path = .config/zsh/external/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".config/zsh/external/zsh-autosuggestions"]
	path = .config/zsh/external/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
